
.PageWrapper {
  max-width: 900px;
  margin: auto;
  font-family: 'Rock Salt';
}

.TopBanner {
  display: flex;
  &-title {
  }
}




input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}