@charset "UTF-8";
/* mobile first... */
/* desktop first... */
/* from... to... fourchette */
/* at... point précis */
body {
  font-family: "Neucha", cursive;
  margin: 0;
}

.layout {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5em;
}

@media screen and (min-width: 768px) {
  .sidebared {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 200px;
        grid-template-columns: 1fr 200px;
    gap: 20px;
  }
}

h1, h2, h3 {
  font-family: "Cookie", cursive;
  font-weight: normal;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.6em;
}

.Header {
  background-image: url(assets/img/fond-header.jpg);
  background-size: cover;
  text-align: center;
}

.Header .layout {
  padding: 0;
}

.Header-nav {
  padding-bottom: 1.8em;
}

.Header-nav ul {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .Header-nav ul {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .Header-nav ul li {
    margin-left: 1.5em;
  }
}

.Header-nav ul a {
  display: block;
  padding: 10px 0;
}

.Header-nav ul a:link, .Header-nav ul a :visited {
  color: #291A10;
  text-decoration: none;
}

.Header-nav ul a:hover {
  background-color: #FACC08;
}

@media screen and (min-width: 768px) {
  .Header-nav ul a {
    padding: .8em 1.4em;
    background-color: white;
    border-radius: 0 0 20px 20px;
  }
}

@media screen and (min-width: 768px) {
  .Header-nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4fr;
        grid-template-columns: 1fr 4fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

.Header-nav .menu-item {
  list-style: none;
}

.Header-nav .callToAction a:link, .Header-nav .callToAction a:visited {
  color: white;
  background-color: #7FB84A;
  opacity: 1;
}

.Header-titles {
  background-color: black;
  opacity: 0.7;
  color: white;
  border-radius: 20px;
  padding: 8px 0;
  width: 80%;
  margin: auto;
  font-size: 1.3em;
}

@media screen and (min-width: 768px) {
  .Header-titles {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media screen and (min-width: 768px) {
  .Header-logoBox {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}

.MainContent-sidebar {
  padding: 2em;
  background-color: #FACC08;
}

@media screen and (min-width: 768px) {
  .MainContent-sidebar {
    -webkit-box-shadow: black 4px 4px 20px;
            box-shadow: black 4px 4px 20px;
  }
}

.MainContent-sidebar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-transform: uppercase;
}

.MainContent-sidebar a:link, .MainContent-sidebar a:visited {
  text-decoration: none;
  color: #291A10;
}

.MainContent-sidebar a:hover {
  color: #F98D3E;
}

@media screen and (min-width: 768px) {
  .Content-postsList {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.Footer {
  background-color: #291A10;
  color: white;
}

.Footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Footer a:link, .Footer a:visited {
  color: white;
  text-decoration: none;
}

.Footer a:hover {
  color: #FACC08;
}

.Footer-links {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .Footer-links {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.Footer-links-widgetBox {
  margin-bottom: 1.8em;
}

@media screen and (min-width: 768px) {
  .Footer-links-widgetBox {
    margin-left: 2.8em;
  }
}

.Footer-links-widgetBox-title {
  font-family: "Cookie", cursive;
  font-size: 2.5em;
  margin: .8em 0 .2em;
}

.Footer-creditsArea {
  background-color: black;
}

@media screen and (min-width: 768px) {
  .Footer-creditsArea .layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.Post {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 10px 6px 8px;
          box-shadow: rgba(0, 0, 0, 0.45) 10px 6px 8px;
}

@media screen and (min-width: 768px) {
  .Post {
    margin: 0;
  }
}

.Post-title {
  text-align: center;
  background-color: black;
  color: #FACC08;
  padding: 8px 0;
  margin: 0;
}

.Post-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Post-catNav {
  color: #FACC08;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

.Post-catNav a,
.Post-catNav a:visited {
  color: #FACC08;
  text-decoration: none;
}

.Post-catNav-date {
  -ms-grid-column-align: end;
      justify-self: end;
}

.Post-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr;
      grid-template-columns: 6fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 0 10px;
}

.Post-content-link {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #FACC08;
  color: white;
  padding: 7px 7px;
  padding-bottom: 0;
  border-radius: 50%;
}

.SinglePost-title {
  color: #F98D3E;
}

.SinglePost-header {
  border: 3px solid #F98D3E;
  background-color: #F98D3E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.SinglePost-header-img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.SinglePost-header-metas {
  padding: .3em;
}

.SinglePost-header-metas-categories, .SinglePost-header-metas-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 .2em;
}

.SinglePost-header-metas-img {
  margin-right: .5em;
}

.SinglePost-header-metas-link:link, .SinglePost-header-metas-link:visited {
  color: white;
  text-decoration: none;
}

.SinglePost-header-metas-link:hover {
  color: #FACC08;
}
/*# sourceMappingURL=style.css.map */