
/***** FONTS *****/
$regular: 'Nunito';


/***** COLORS *****/

$white: white;
$black: black;
$light: #e5dada;
$grey: #8c8b8b;
$lightGrey: #b0b0b0;
$darkGrey: #696969;
$dark: #625d5d;
$primary: #873dcc;
$primaryLight: #9540e3;
$primaryDark: #7532b4;
$primaryText: #3a1856;
$secondary: #3dcccc;
$secondaryLight: #40e8e8;
$secondaryDark: #2ea6a6;
$secondaryText: #114848;
$contrast: #eea6db;
$contrastLight: #f1b6e1;
$contrastDark: #ef97d8;
$contrastText: #d3009c;


/***** SPACES *****/

$xsSpace: 3px;
$sSpace: 5px;
$mSpace: 10px;
$lSpace: 15px;
$xlSpace: 20px;
$xxlSpace: 30px;
$xxxlSpace: 50px;

$sTextSpace: 1em;
$mTextSpace: 2em;
$lTextSpace: 3em;


/***** MIXINS *****/

