/* Decoration */

body {
	margin: 0;
	background-color:white;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	font-size: 1.1em;
}
header, nav, section, aside, footer {
	padding: 30px;
	margin: 0;
	border: 2px solid #fff;
	border-radius: 10px;
	color: #fff;
}
header {
	background: dodgerblue;
  text-align: center;
}
nav {
	background: orange;
}
nav a {
  display: block;
  padding: .5em 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,.3);
}
section {
	background: hotpink;
}
aside{
  background-color: teal ;
}
footer {
	background: olivedrab;
  text-align: center;
}