
body {
    margin: 0px;
}
main {
    padding: 10px;
}
.black-band {
    background-color: black;
    color: white;
    padding: 1em;
}
header h1 {
    display: inline;
}
header a {
    color: thistle;
    position: relative;
    float: right;
}
footer {
    width: 100%;
    position: fixed;
    display: block;
    bottom: 0px;
}

main {
    margin: auto;
    max-width: 1200px;
    border: tomato solid 1px;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
}